<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<title>Desafio Rick & Morty</title>
</head>
<body>
	<main>
=	<div class='resultados'>
		<div class="result">
			<img class="retrato" src=<%= image %>><br>
			<div class="info">
				<ul>
					<li>Nome: <%= nome %></li>
					<li>Planeta de origem: <%= planeta %></li>
					<li>Status: <%= status %></li>
					<li>Episódios em que apareceu: <%= ep1 %>, <%= ep2%> <%= ep3 %></li>
	
				</ul>
			</div>
		</div><div class="result">
			<img class="retrato" src=<%= image1 %>><br>
			<div class="info">
				<ul>
					<li>Nome:<%= nome1 %></li>
					<li>Planeta de origem: <%= planeta1 %></li>
					<li>Status: <%= status1 %></li>
					<li>Episódios em que apareceu: <%= ep1_1%>, <%= ep2_1%> <%= ep3_1%></li>
	
				</ul>
			</div>
		</div>
	</div>
	</main>
</body>
</html>